{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<style>
			/* Custom checkbox style */
			input[type="checkbox"] {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				width: 20px; /* Adjust the size as needed */
				height: 20px; /* Adjust the size as needed */
				border: 2px solid #999;
				border-radius: 50%;
				outline: none;
				cursor: pointer;
			}
		
			/* Custom checkbox checked state */
			input[type="checkbox"]:checked {
				background-color: #999;
			}
		</style>
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		{% if message %}
		{% for message in messages %}
			<div class="message">
				{{message}}
			</div>
		{% endfor %}
		{% endif %}
		{% block content %}
		{% endblock %}
	</body>
</html>
